header {
    background-color: #1E91D6;
    color: #FFFFFF;
}

header h1 a {
    font-family: 'Outfit', sans-serif;
    margin: 0.5em;
    color: white !important;
}

.login-info a {
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
}

h3 {
    font-size: .80em;
}
body {
    background-color: #F5F5F5;
    font-family: 'open-sans', sans-serif;
}

main {
    padding: 16px;
}

.finstagram-post {
    background-color: white;
    border-radius: 35px;
    padding: 20px;
    margin-bottom: 28px;
}

.finstagram-post .user-info img {
    border-radius: 50%;
}

a.photo{
    transition: padding 0.5s;
  }
  a.photo:hover{
    padding: 10px;
  }