header {
    background-color: #244751;
    color: #E8FDFF;
}

header h1 {
    font-family: 'Outfit', sans-serif;
    padding-left: 1em;
}

h3 {
    font-size: .80em;
}
body {
    background-color: whitesmoke;
    font-family: 'open-sans', sans-serif;
}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 50%;
}

a.photo{
    transition: padding 0.5s;
  }
  a.photo:hover{
    padding: 10px;
  }